<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ARTISTS Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <style type="text/css">
  body {
    background: #47c8cd;
  }
  .button {
    border:4px outset #76a1cd;
    background: gray;
    font-size: 22px;
    width:160px;
    letter-spacing: 3px;
  }
  .button:hover {
    border:4px outset #4dcd63;
    background: #4dcd63;
    font-size: 22px;
    width:160px;
    letter-spacing: 3px;
  }
  .link {
    font-size: 20px;
  }
  .name {
    font-size: 20px;
  }

  </style>
</head>
<body class= "container-fluid">
  <h1> ARTISTS</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="name">Name</th>
      <th class="name">Show</th>
      <th class="name">Edit</th>
      <th class="name">Delete</th>
    </tr>
  </thead>
  <tbody>
<% @artists.each do |t| %>
    <tr>
      <td class="name"><%= t.name %></td>

      <td><a class="link" href="/artists/<%= t.id %>">Show Details</a></td>
      
      <td><a class="link" href="/artists/<%= t.id %>/edit">Edit Artist</a></td>

      <td><form class="form-horizontal" action="/artists/<%= t.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="delete">
      </form></td>
      <% end %>
    </tr>
    
  </tbody>
 </table>

 <a href="/artists/new"><div class="button">
   Add Artist
 </div></a>

</body>
</html>


